In [1]:
# Execute before using this notebook if using google colab
kernel = str(get_ipython())
if 'google.colab' in kernel:    
    !wget https://raw.githubusercontent.com/fredzett/rmqa/master/utils.py -P local_modules -nc 
    !npx degit fredzett/rmqa/data data
    import sys
    sys.path.append('local_modules')

In [2]:
import numpy as numpy
import pandas as pd 
from utils import Datasets

In [3]:
# Import dataset
df = Datasets.fashion()
df.head()

,Date,NoProducts,Discount,Rain,Weekend,Gender,Advertising,BegMonth,Region,DeliveryComp,DeliveryTime,Rating_DeliveryComp,CustomerSatisfaction,PricePerProduct,Revenue
0,2007-09-04 09:00:00,5,False,False,False,w,low,True,3,Hermes,42,3,72,33.522730,167.613652
1,2007-09-04 10:00:00,5,False,False,False,w,low,True,1,Hermes,44,4,84,102.473666,512.368331
2,2007-09-04 11:00:00,5,False,False,False,m,low,True,3,Hermes,36,1,46,31.633812,158.169062
3,2007-09-04 12:00:00,5,False,True,False,m,low,True,3,DHL,35,3,65,30.208402,151.042008
4,2007-09-04 13:00:00,5,False,False,False,w,low,True,1,Hermes,41,5,91,103.604277,518.021384