In [ ]:
# Execute before using this notebook if using google colab

kernel = str(get_ipython())

if 'google.colab' in kernel:    
    !wget https://raw.githubusercontent.com/fredzett/rmqa/master/utils.py -P local_modules -nc 
    !npx degit fredzett/rmqa/data data
    import sys
    sys.path.append('local_modules')

# Exercises - Pandas

In [ ]:
import pandas as pd
import numpy as np
from utils import Datasets

## Exercise 1

Create a dataframe that looks like the one below:

![pd_example](https://www.dropbox.com/s/kfe59p3fqlgdwuu/dfexample.png?dl=1)

**Answer the following questions using python**

- rename columns to only contain lower case letters ("age", "weight", "gender")

- create a new dataframe only holding observations with weight more than 60

- create a new dataframe only holding observations with females and columns of age and weight

- create a new dataframe with males above age 45

## Excercise 2

Given the above dataframe:

- calculate the mean age for females

- calculate the youngest age of males 

- calculate the mean weight of people older than 40 years

- transform age and weight such that it has a mean of 0 and a standard deviation of 1

## Exercise 3

Load the daily dax dataset and do the following:

1. use  only variables "low", "high", "close"

2. calculate daily return for all three variables (use function shift() is easiest)

3. delete rows where all three variables have nans 

4. check if any nans still in dataframe; if so: replace remaining nans with median return for that variable

4. calculate mean, median, min, max and std of returns for all variables

5. plot boxplot of all three variables (hint: use "box")

6. ADVANCED: calculate the average return (based on daily returns) for month of year (i.e. Jan to Dec) and plot the outcome as a barchart (tipp: use pd.to_datetime to convert to date objects)

In [18]:
df = Datasets.dax_daily(dtype="pandas")
df.head()

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1987-12-30,1005.190002,1005.190002,1005.190002,1005.190002,1005.190002,0.0
1987-12-31,NaN,NaN,NaN,NaN,NaN,NaN
1988-01-01,NaN,NaN,NaN,NaN,NaN,NaN
1988-01-04,956.489990,956.489990,956.489990,956.489990,956.489990,0.0
1988-01-05,996.099976,996.099976,996.099976,996.099976,996.099976,0.0